/* all chickens */
.chickenandeggs {
    display: grid;
    margin: 1rem;
    grid-template-columns: auto auto;
}

.Chicken {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.Chicken .Sprite {
    width: 5rem;
    height: 5rem;
}

.Chicken p:last-child {
    margin-bottom: 0;
}

/* hungry chicken */
.Chicken.hungry:hover {
    cursor: pointer;
}

.Chicken.hungry:hover .hunger {
    background: #EFD029;
}

.Chicken.hungry:hover .hunger:after {
    border-top-color: #EFD029;
}

.Chicken .hunger {
    position: absolute;
    top: -1rem;
    left: 0rem;
    width: auto;
    background: #fff;
    border-radius: .4em;
    font-size: .5rem;
    display: inline-block;
    padding: .25rem;
    animation: updown 0.5s infinite alternate;
}

.Chicken .hunger:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: .5rem solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    margin-left: -.5rem;
    margin-bottom: -.5rem;
}

.Chicken .hunger .Sprite {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
}

@keyframes updown {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(-0.3rem);
    }
}