@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
    margin: 0;
}

body {
    background-image: url('/img/sprites/grass.png');
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.Header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 1rem;
}

.Header .PrettyAge {
    text-align: right;
}

#credit {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

    #credit, #credit a {
        color: #fff;
        font-size: 0.75rem;
    }

    #credit .secret {
        padding-top: 1rem;
        display:none;
    }

.details {
    margin: 0.5rem 0;
    grid-column: 1 / 3;
}